
body {
    background-image: url('./background.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

#city-input, #weather-output {
    max-width: 400px;
    margin: 0 auto;
}
  
.banner {
    color: #FFD23F;
    font-family: sans-serif;
    font-size: 13vw;
}